{% extends 'landing/base.html' %}
{% block title %}PhucDuyFood - Chi tiết sản phẩm{% endblock %}
{% block content %}
    <section class="container my-4 featured-section">
        <h2 class="text-center mb-3 white-text">Sản phẩm nổi bật</h2>
        <div class="row">
            {% for product in featured_products|slice:":3" %}
            <div class="col-md-4 mb-4">
                <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">
                    <div class="card h-100 featured-card">
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.short_description }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="container my-3 category-section">
        <h3 class="text-center mb-3 white-text">Danh mục sản phẩm </h3>
        <ul class="nav nav-tabs justify-content-center mb-4" id="categoryTabs">
        {% for category in categories %}
            <li class="nav-item">
            <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" href="#cat{{ category.id }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        </ul>

        <div class="tab-content">
        {% for category in categories %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="cat{{ category.id }}">
            <div class="row">
            {% for product in all_products %}
                {% if product.category == category %}
                <div class="col-md-3 mb-4">
                    <a href="{% url 'product_detail' product.id %}" class="text-decoration-none text-dark">
                        <div class="card h-100">
                        <img src="{{ product.image.url }}" class="card-img-top-sp-all" alt="{{ product.name }}">
                            <div class="card-body">
                                <h6 class="card-title">{{ product.name }}</h6>
                                <p class="card-text">{{ product.code }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            </div>
        {% endfor %}
        </div>

    </section>
    <!-- Hiệu ứng gia vị -->
    <div class="spice-template" style="display: none;">
        {% for i in "123456789012345678901234567890" %}
            <span class="spice" style="--i: {{ forloop.counter0 }}">
                {% cycle "🌿" "🌶️" "🧂" %}
            </span>
        {% endfor %}
    </div>

   {% endblock %}
